The EDA and Backward elimination has helped us find the optimal columns for regression training
Now we need to find out what results the machine learning algorithm will give
Here we try XGBoost.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
from scipy.stats import f_oneway
import matplotlib.pyplot as plt
from pathlib import Path
from openFile import OpenCleanFile

In [3]:
clean = OpenCleanFile()
clean.df_housing.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,Tax Block,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BOROUGH_NAME,SALE_MONTH,AGE
0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,5,0,5,1633,6440,2,C2,6625000,2017-07-19,Manhattan,7,122
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,10,0,10,2272,6794,2,C4,3936272,2016-09-23,Manhattan,9,109
2,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,6,0,6,2369,4615,2,C2,8000000,2016-11-17,Manhattan,11,122
3,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,8,0,8,1750,4226,2,C4,3192840,2016-09-23,Manhattan,9,102
4,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,24,0,24,4489,18523,2,D9,16232000,2016-11-07,Manhattan,11,102